/* No styles at this level */



.header {
    background-color: #151B54;
    padding: 60PX;
    color: gainsboro;
    text-shadow: 1px 1px 2px whitesmoke;
    border-radius: 25px;
}

.header img {
    border-radius: 15%;
    float: left;
}

.header h2 {
    position: relative;
    font-size: 40px;
 -webkit-box-reflect: below 8px -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(40%, transparent), to(rgba(255, 255, 255, 0.25)));
}

.modal-diolog {
    width: 200%;
}


.flip-box {
    background-color: transparent;
    width: 35px;
    height: 35px;
    perspective: 1000px;
}

.flip-box-inner {
    position: relative;
    width: 90px;
    height: 90px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
    position: absolute;
    width: 90px;
    height: 90px;
    backface-visibility: hidden;
}

.flip-box-front {
    background-color: #bbb;
    color: black;
}

.flip-box-back {
    background-color: #555;
    color: white;
    transform: rotateY(180deg);
}
