
<div class="modal-header">
  <h4 class="modal-title">Your History for:<div *ngIf="trader.stock != null">{{trader.stock}} Stock</div></h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <table datatable class="row-border hover">
    <thead>
    <tr>
      <th>Trade</th> 
      <th>Open</th>
      <th>Close</th>
      <th>Buy/Sell</th>
      <th>Profit/Loss</th>
      <th>ROI</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let item of trader.positions'>
      <td><div *ngIf="item.openingTrade.size != null">{{item.openingTrade.size}}</div></td>
      <td><div *ngIf="item.openingTrade.price != null">{{item.openingTrade.price | number:'1.2-2'}}</div></td>
      <td><div *ngIf="item.closingTrade != null">{{item.closingTrade.price | number:'1.2-2'}}</div></td>
      <td><div *ngIf="item.openingTrade.buy != null"><div *ngIf="item.openingTrade.buy == false" >Sell</div><div *ngIf="item.openingTrade.buy == true">Buy</div></div></td>
      <td><div *ngIf="item.profitOrLoss != null">{{item.profitOrLoss | currency:'USD':'symbol':'1.2-2'}}</div></td>
      <td><div *ngIf="item.roi != null">{{item.roi  | percent:'1.4-4'}}</div></td>
    </tr> 
  </tbody>
  </table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>


