
<div>
  <br/>
  <label for="Type">Type: </label>
  <select  [(ngModel)]="type" >
    <option value="2MA" >Two moving averages</option>
    <option value="BB" >Bollinger bands</option>
    <option value="ML" >Learning Algorithm</option> 
  </select>
  <label for="Stock">Stock: </label>
  <input type="text"  [(ngModel)]="stock"/>
  <label for="Size">Size: </label>
  <input type="number"   step="100" style="width: 56px;" [(ngModel)]="size" />
  <input type="button" class="btn" value="Create" (click)="create()" />
  <br/>
  <!-- TODO: content here varies by trader type -->
  <label *ngIf="type == '2MA'" for="Short">Short: </label>
  <input *ngIf="type == '2MA'" type="number"  min="15" step="15" [(ngModel)]="lengthShort" />
  <label *ngIf="type == '2MA'" for="Long">Long: </label>
  <input *ngIf="type == '2MA'" type="number"   min="15" step="15" [(ngModel)]="lengthLong" />
  <label *ngIf="type == 'BB'" for="Periods">Periods: </label>
  <input *ngIf="type == 'BB'" type="number"  min="5" step="1" [(ngModel)]="period" />
  <label *ngIf="type == 'BB'" for="Multiples">Multiples: </label>
  <input *ngIf="type == 'BB'" type="number"   min="0" step="10" [(ngModel)]="purchaseVariation" />
  <label *ngIf="type == 'ML'" for="periodsToCollect">Periods: </label>
  <input *ngIf="type == 'ML'" type="number" min="0" step="1" [(ngModel)]="periodsToCollect" />
  <label *ngIf="type == 'ML'" for="learningRate">Learning Rate: </label>
  <input *ngIf="type == 'ML'" type="number" min="0" step="0.01" [(ngModel)]="learningRate" />
  <label *ngIf="type != 'ML'" for="Exit">Exit: </label>
  <input type="number"   min="0.25" step="0.25" [(ngModel)]="exitThreshold" />%
  <br/>
</div>
